<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h1>Hello @name !</h1>
    <h2>fan3d <a href="http://learningwebgl.com/lessons">LearningWebgl</a></h2>
    <h3><a href="/jsfan/Triangle.fan">Lesson 1 – A triangle</a></h3>
    <h3><a href="/jsfan/Colour.fan">Lesson 2 – Adding colour</a></h3>
    <h3><a href="/jsfan/Movement.fan">Lesson 3 – a bit of movement</a></h3>
    <h3><a href="/jsfan/RealObject.fan">Lesson 4 – some real 3D objects</a></h3>
    <h3><a href="/jsfan/Textures.fan">Lesson 5 – introducing textures</a></h3>
    <h3><a href="/jsfan/FwtGlCanvas.fan">Fwt GLCanas</a></h3>

    <h1>gfx2</h1>
    <h3><a href="/jsfan/Gfx2Test.fan">Gfx2Test</a></h3>
    <h3><a href="/jsfan/Gfx2Offscreen.fan">Gfx2Offscreen</a></h3>

    <h1>fan2d</h1>
    <h3><a href="/jsfan/Fan3dWinTest.fan">Gfx2Test</a></h3>

  </body>
</html>